html[data-theme-color='gold'] {
    --theme-background: #F6F6F6;
    --theme-content-background: #FFFFFF;
    --theme-header: #F6F6F6;
    --theme-header-font: rgba(0, 0, 0, 0.88);
    --theme-sidebar: #F6F6F6;
    --theme-sidebar-link-bg: #F6F6F6;
    --theme-sidebar-link: rgba(0, 0, 0, 0.88);
    --theme-sidebar-icon: rgba(0, 0, 0, 0.88);
    --theme-sidebar-badge: #B68A35;
    --theme-sidebar-badge-text: #FFFFFF;
    --theme-sidebar-active-link-bg: #F2EADB;
    --theme-sidebar-active-link: #B68A35;
    --theme-sidebar-active-icon: #B68A35;
    --theme-nav-scrollbar-thumb: #C4C4C4;
    --theme-button-bg: #B68A35;
    --theme-button: #FFFFFF;
    --theme-primary: #B68A35;
    --theme-heading-bg: #FFFFFF;
    --theme-heading-color: rgba(0, 0, 0, 0.88);
    --theme-font-color: rgba(0, 0, 0, 0.88);
    --theme-content-color: rgba(0, 0, 0, 0.88);
    --theme-footer-bg: #F6F6F6;
    --theme-footer: rgba(0, 0, 0, 0.88);
    --theme-link: #B68A35;
    --theme-link-active: #F6CD7B;
}
html[data-theme-color='green'] {
    --theme-background: #F6F6F6;
    --theme-content-background: #FFFFFF;
    --theme-header: #F6F6F6;
    --theme-header-font: rgba(0, 0, 0, 0.88);
    --theme-sidebar: #F6F6F6;
    --theme-sidebar-link-bg: #F6F6F6;
    --theme-sidebar-link: rgba(0, 0, 0, 0.88);
    --theme-sidebar-icon: rgba(0, 0, 0, 0.88);
    --theme-sidebar-badge: #3F8E50;
    --theme-sidebar-badge-text: #FFFFFF;
    --theme-sidebar-active-link-bg: #DCEBDF;
    --theme-sidebar-active-link: #3F8E50;
    --theme-sidebar-active-icon: #3F8E50;
    --theme-nav-scrollbar-thumb: #C4C4C4;
    --theme-button-bg: #3F8E50;
    --theme-button: #FFFFFF;
    --theme-primary: #3F8E50;
    --theme-heading-bg: #FFFFFF;
    --theme-heading-color: rgba(0, 0, 0, 0.88);
    --theme-font-color: rgba(0, 0, 0, 0.88);
    --theme-content-color: rgba(0, 0, 0, 0.88);
    --theme-footer-bg: #F6F6F6;
    --theme-footer: rgba(0, 0, 0, 0.88);
    --theme-link: #3F8E50;
    --theme-link-active: #65A573;
}
html[data-theme-color='red'] {
    --theme-background: #F6F6F6;
    --theme-content-background: #FFFFFF;
    --theme-header: #F6F6F6;
    --theme-header-font: rgba(0, 0, 0, 0.88);
    --theme-sidebar: #F6F6F6;
    --theme-sidebar-link-bg: #F6F6F6;
    --theme-sidebar-link: rgba(0, 0, 0, 0.88);
    --theme-sidebar-icon: rgba(0, 0, 0, 0.88);
    --theme-sidebar-badge: #D83731;
    --theme-sidebar-badge-text: #FFFFFF;
    --theme-sidebar-active-link-bg: #F8DBDA;
    --theme-sidebar-active-link: #D83731;
    --theme-sidebar-active-icon: #D83731;
    --theme-nav-scrollbar-thumb: #C4C4C4;
    --theme-button-bg: #D83731;
    --theme-button: #FFFFFF;
    --theme-primary: #D83731;
    --theme-heading-bg: #FFFFFF;
    --theme-heading-color: rgba(0, 0, 0, 0.88);
    --theme-font-color: rgba(0, 0, 0, 0.88);
    --theme-content-color: rgba(0, 0, 0, 0.88);
    --theme-footer-bg: #F6F6F6;
    --theme-footer: rgba(0, 0, 0, 0.88);
    --theme-link: #D83731;
    --theme-link-active: #E05F5A;
}
body{
    font-size: 1rem;
}
body#login {
    background-color: var(--theme-content-background, #f8f9fd);
}
.login_form_logo_container{
    margin-bottom: 25px;
}
.header-bottom,
.accessibility-dropdown .card .card-header {
    background-color: #344b61;
}
.accessibility-dropdown{
    font-size: 1rem;
}
.accessibility-dropdown * {
    font-size: 16px;
}
.accessibility-dropdown .dropdown-menu {
    width: 300px;
    border: 0;
    padding: 0px !important;
}
.accessibility-dropdown .card {
    box-shadow: none;
}
.accessibility-dropdown .card .card-body {
    padding: 16px;
    background-color: #f1f1f1;
}
.accessibility-dropdown .card .card-header {
    min-height: 48px;
}
.accessibility-dropdown .card .card-header .card-title {
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: 400;
}
.accessibility-widgets .widget-item {
    position: relative;
    padding: 32px 10px;
    flex: 1 0 50%;
    overflow: hidden;
    background-color: white;
    margin: 0.3rem;
    -webkit-box-shadow: 0px 1px 15px 1px rgb(69 65 78 / 6%);
    box-shadow: 0px 1px 15px 1px rgb(69 65 78 / 6%);
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.accessibility-widgets .widget-item figure figcaption {
    text-transform: capitalize;
}
.accessibility-widgets figure img {
    width: 48px;
    height: 48px;
}
.accessibility-widgets .widget-item .steps .step {
    height: 4px;
    border-radius: 2px;
    width: 50%;
    margin: 0 2px;
}
.accessibility-widgets .widget-item .steps {
    position: absolute;
    bottom: 10px;
    left: 5px;
    right: 5px;
}
.accessibility-dropdown{
    padding: 0px !important;
}
.accessibility-widgets  i{
    font-size: 35px;
}
.accessibility-widgets .widget-item .steps .step {
	background: rgb(0 109 213 / 0.18);
}
.accessibility-widgets .widget-item .steps [data-step=done],
.accessibility-widgets .widget-item .steps [data-step=current] {
	background-color: #344b61;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #1B1D21;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(27,29,33,0.34);
    border-radius: .42rem;
    -webkit-box-shadow: 0 0.375rem 0.75rem rgba(27,29,33,0.16);
    box-shadow: 0 0.375rem 0.75rem rgba(27,29,33,0.16);
}
.accessibility-widgets .widget-item:hover {
    background: #f6f6f6;
    outline: 1px solid #b8b8b8;
}
.form-container {
    font-size: 1rem;
}
#sidebar .nav > li > a {
    font-size: 1rem;
}
#sidebar .nav > li > ul > li > a{
    font-size: 1rem;
}
#sidebar .nav > li > a > span:not(.badge){
    padding: 6px 0 6px 45px;
}
body[data-font="SF-Pro"] *:not([class^="fa"]):not([class^="zmdi"]) {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
body[data-font="DA-Kufi"] *:not([class^="fa"]):not([class^="zmdi"]) {
    font-family: 'Noto Kufi Arabic', sans-serif;
}
body, html {
    font-family: "Roboto",sans-serif;
}
.invert {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
.desaturate {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.hue-rotate {
    filter: hue-rotate(45deg);
    -webkit-filter: hue-rotate(45deg);
}
.dark-contrast *:not(a):not(.btn):not(:where(.accessibility-dropdown .dropdown-menu,.accessibility-dropdown .dropdown-menu *)) {
    transition: all 0s ease 0s;
    background-color: rgb(0,0,0) !important;
    border-color: rgb(255,255,255) !important;
    color: rgb(80,208,160) !important;
}
.dark-contrast #sidebar .user-menu > li > a > span{
    background-color: transparent !important;
}
.dark-contrast #sidebar .active > a, .dark-contrast #sidebar .nav > li > ul > li > a:hover {
    color: var(--theme-sidebar-active-link, var(--theme-color3, #313435)) !important;
    background: rgb(0,0,0) !important;
    opacity: 1 !important;
}
.dark-contrast a,.dark-contrast .btn {
    transition: all 0s ease 0s;
    background-color: rgb(0,0,0) !important;
    border-color: rgb(255,255,255) !important;
    color: rgb(252,255,60) !important;
}
[data-text-align="align-left"] *:not(:where(.accessibility-dropdown .dropdown-menu,.accessibility-dropdown .dropdown-menu *)) {
    text-align: left !important;
}
[data-text-align="align-right"] *:not(:where(.accessibility-dropdown .dropdown-menu,.accessibility-dropdown .dropdown-menu *)) {
    text-align: right !important;
}
[data-text-align="align-center"] *:not(:where(.accessibility-dropdown .dropdown-menu,.accessibility-dropdown .dropdown-menu *)) {
    text-align: center !important;
}
[data-text-align="align-left"] .d-flex:not(.steps):not(.widget-items),[data-text-align="align-left"] .d-md-flex,[data-text-align="align-left"] .subheader .kt-subheader,[data-text-align="align-left"] .kt-widget.kt-widget--user-profile-3 .kt-widget__top,[data-text-align="align-left"] .kt-widget.kt-widget--user-profile-3 .kt-widget__bottom .kt-widget__item {
    justify-content: flex-start !important;
}
[data-text-align="align-right"] .d-flex:not(.steps):not(.widget-items),[data-text-align="align-right"] .d-md-flex,[data-text-align="align-right"] .subheader .kt-subheader,[data-text-align="align-right"] .kt-widget.kt-widget--user-profile-3 .kt-widget__top,[data-text-align="align-right"] .kt-widget.kt-widget--user-profile-3 .kt-widget__bottom .kt-widget__item {
    justify-content: flex-end !important;
}
[data-text-align="align-center"] .d-flex:not(.steps):not(.widget-items),[data-text-align="align-center"] .d-md-flex,[data-text-align="align-center"] .subheader .kt-subheader,[data-text-align="align-center"] .kt-widget.kt-widget--user-profile-3 .kt-widget__top,[data-text-align="align-center"] .kt-widget.kt-widget--user-profile-3 .kt-widget__bottom .kt-widget__item {
    justify-content: center !important;
}
.reading-mask,.reading-mask-two {
    position: absolute !important;
    z-index: 2147483647 !important;
    width: 100% !important;
    background: rgba(0,0,0,0.5) !important;
    top: 0px;
}
.reading-mask-line,.readingmask-line-two {
    background: #344b61;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 9999;
    bottom: 0
}
.reading-mask-two {
    top: auto;
    margin-top: 4rem;
    bottom: 0;
}
.readingmask-line-two {
    top: 0 !important;
    bottom: auto !important
}
.reading-guide {
    background: #000;
    width: 40vw;
    min-width: 200px;
    height: 12px;
    border: 2px solid #fff300;
    border-radius: 5px;
    position: absolute;
    transform: translateX(-50%);
    z-index: 9999;
}
.reading-guide__arrow {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 0;
    position: absolute;
}
.reading-guide__arrow:before,.reading-guide__arrow:after {
    content: "";
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.reading-guide__arrow:after {
    border-bottom-color: #000;
    border-width: 14px;
    margin-left: -14px;
}
.reading-guide__arrow:before {
    border-bottom-color: #fff300;
    border-width: 17px;
    margin-left: -17px;
}
.highlighted {
    background-color: #ff0;
}
.no-highlighted .highlighted {
    background-color: inherit;
}
[data-cursor="fas fa-mouse-pointer"],[data-cursor="fas fa-mouse-pointer"] * {
    cursor: url("../org.joget.marketplace.TDRATheme/big-cursor.svg"),auto !important;
}
header.navbar, #sidebar{
    box-shadow: none;
}
#sidebar .nav-tabs.user-menu, #navigation, footer{
    border: 0px;
}
header.navbar {
    position: fixed;
    top: 0;
}
#sidebar .menu.active > a, #sidebar .nav > li > ul > li > a:hover {
    color: var(--theme-sidebar-active-link, var(--theme-color3, #313435)) !important;
    background: transparent !important;
    opacity: 1 !important;
}
#sidebar .nav > li > a:hover {
    background: transparent;
}
#content.page_content {
    background-color: var(--theme-content-background, var(--theme-color1, #f9fafb));
    border-radius: .85rem;
    margin-top: 85px;
    padding: 20px 20px 20px;
    margin-left: 15px;
    margin-right: 15px;
}
#content .main-body-content{
    border: 0px;
    border-radius: .85rem;
}
.mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical, .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical {
    right: -16px;
}
#sidebar .nav > li > a {
    font-size: 1rem;
    border-radius: .65rem;
    font-weight: 500;
    padding: 5px 8px;
}
body:not(.horizontal_menu) #navigation {
    width: 245px;
    margin-left: 20px;
}
#sidebar .nav > li > ul > li > a {
    font-weight: 500;
    margin-bottom: -5px;
}
#sidebar .nav > li > ul {
    background: transparent;
}
#sidebar .nav li {
    margin-bottom: 8px;
}
.sidebar_brand {
    padding: 10px 25px;
}
.form-cell-value > label > input, .subform-cell-value > label > input {
    visibility: hidden;
    margin-right: 1.25rem;
}
input[type=checkbox], input[type=radio]{
    visibility: hidden;
}
body input[type=checkbox]:before,
body input[type=radio]:before {
    content: "";
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    top: -0.1rem;
    left: 0;
    border: 1px solid rgba(27,29,33,0.32);
    background-color: #fff;
    padding: 1px;
    visibility: visible;
    border-radius: .28rem;
    position: relative;
}
body input[type=checkbox]:checked::before{
    background-color: var(--theme-button-bg, #0d6efd);
    border-color: var(--theme-button-bg, #0d6efd);
}
body input[type=radio]:checked::before {
    background-color: #fff;
    border-color: var(--theme-button-bg, #0d6efd);
}
body input[type=checkbox]:checked::after,
body input[type=radio]:checked::after {
    content: "";
    display: block;
    width: 0.4rem;
    height: 0.7rem;
    border: solid #fff;
    border-width: 0 0.125rem 0.125rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    top: -1.1rem;
    left: 0.4rem;
    visibility: visible;
}
body input[type=radio]:before {
    border-radius: 45%;
}
body input[type=radio]:checked::after {
    width: 0.75rem;
    height: 0.75rem;
    border: 0.375rem solid var(--theme-button-bg, #0d6efd);
    top: -1.1rem;
    left: 0.25rem;
    border-radius: 55%;
    background-color: var(--theme-button-bg, #0d6efd);
}
.form-section {
    border-radius: .85rem;
    padding-bottom: 4.5rem;
}
.form-section-title{
    border-radius: .85rem .85rem 0 0;
    padding: 1rem 2.25rem;
    border-bottom: 1px solid rgba(27,29,33,0.1);
}
.subform-section-title{
    border-radius: .85rem .85rem 0 0;
}
legend, body #form-canvas .form-section-title span, body #form-canvas .subform-section-title span {
    font-size: 1.5rem;
    font-weight: 500;
}
.form-section-title{
    margin-bottom: 4.5rem;
}
.form-cell{
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}
input[type=hidden] + .form-cell, .form-cell + .form-cell, .subform-cell + .subform-cell, .form-cell + .subform-cell, .subform-cell + .form-cell {
    margin-top: 1.875rem;
}
.form-cell > label.label, .subform-cell > label.label {
    opacity: 74%;
}
input:not([type]), 
input[type=text], 
input[type=password], 
input[type=email], 
input[type=url], 
input[type=time], 
input[type=date], 
input[type=datetime], 
input[type=datetime-local], 
input[type=tel], 
input[type=number], 
input[type=search], textarea {
    border: 1px solid rgba(27,29,33,0.32);
    padding: .65rem 1rem;
}
select{
    border: 1px solid rgba(27,29,33,0.32);
}
.form-fileupload.dropzone {
    border: 2px dashed var(--theme-button-bg, #0d6efd);
    background-color: var(--theme-sidebar-active-link-bg, #fff);
    padding: 40px !important;
}
ul.breadcrumb {
    font-size: 1rem;
}
.mpf-container .subform-section {
    border-radius: .85rem;
}
.card.InformationTileComponent {
    border-radius: .85rem !important;
    margin-right: calc(1.5rem / 2);
    margin-left: calc(1.5rem / 2);
    margin-bottom: 3rem !important;
}
.rounded-left {
    border-top-left-radius: .85rem!important;
    border-bottom-left-radius: .85rem!important;
}
#content .grid-stack-item .grid-stack-item-content{
    border-radius: .85rem;
    padding: 1.25rem 1rem;
    margin-right: calc(1.5rem / 2);
    margin-left: calc(1.5rem / 2);
    box-shadow: none;
    margin-bottom: 1rem !important;
}
#content .grid-stack-item .grid-stack-item-header{
    border-bottom: 0px;
}
.grid-stack-item .grid-stack-item-header h4 {
    font-size: 1.38rem !important;
}
#content.page_content:has(.Dashboard){
    background-color:transparent;
}
.InformationTileComponent[style*="background-color:#"] {
  background-color: var(--theme-button-bg, #0d6efd) !important;
}
.InformationTileComponent div.stats-icon.col-4.py-3.d-flex.align-items-center.justify-content-center.rounded-left[style*="background-color:#"]{
    background-color:var(--theme-button-bg, #0d6efd) !important;
}
.dataList span.pagelinks a, .dataList span.pagelinks strong, .dataList span.pagelinks > span {
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    margin: 0 .5rem;
}
.dataList .pagelinks .pc.first-disabled, .dataList .pagelinks .pc.prev-disabled, .dataList .pagelinks .pc.next-disabled, .dataList .pagelinks .pc.last-disabled {
    background-color: transparent;
    border-left: none;
}
.dataList span.pagelinks strong {
    border: 1px solid var(--theme-link, var(--theme-color4, #007bff));
    cursor: default;
    background-color: var(--theme-link, var(--theme-color4, #007bff));
    border-radius: 50%;
    height: 2.125rem;
    width: 2.125rem;
}
.dataList .pagelinks > *:nth-child(1) {
    border-left: 0px;
}
.dataList span.pagelinks a, .dataList span.pagelinks strong, .dataList span.pagelinks > span {
    font-size: 1rem;
}
.ui-datepicker-buttonpane button, .ui-datepicker-buttonpane button:hover {
    color: var(--theme-link, var(--theme-color4, #007bff)) !important;
}
.ui-datepicker td.ui-datepicker-current-day a {
    background: var(--theme-link, var(--theme-color4, #007bff)) !important;
}
#section-actions {
    border: 0px solid transparent;
}
#content main button[class*=button], #content main input[class*=button]{
    font-size: 1rem !important;
}
div.pq-grid * {
    font-size: 1rem !important;
}
.dataList tr.odd {
    background-color: rgba(0,0,0,.05);
}
.dataList tr.even {
    background-color: #fff;
}
.dataList th, .dataList td {
    padding: 10px 10px;
}
.dataList thead th {
    padding: 15px 10px;
}
body:not(.horizontal_menu) #sidebar .badge {
    position: absolute;
    right: 5px;
    padding: .45em .4em;
}
body.embeded #content .main-body-content{
    padding: 0px;
}
.runProcess-body-header, .datalist-body-content > .h1,
.datalist-body-content > h1, .datalist-body-content > .h2, 
.datalist-body-content > h2, .datalist-body-content > .h3, 
.datalist-body-content > h3{
    font-size: 3rem !important;
}
.dataList thead th {
    border-bottom: 2px solid var(--theme-button-bg, #dee2e6);
}
.dataList.size_sm > form > .table-wrapper > table.responsivetable > tbody > tr, .dataList.size_sm > .table-wrapper > table.responsivetable > tbody > tr{
    border: 1px solid rgba(5, 5, 5, 0.06);
}
.grid table tr.grid-row {
    border: 1px solid rgba(5, 5, 5, 0.06);
}
@media(max-width: 768px) {
    #content.page_content {
        padding: 10px 10px 10px;
        margin-left: 0px;
        margin-right: 0px;
        background-color: var(--theme-background);
    }
    .viewForm-body-content {
        padding: 0px !important;
    }
    .fc .fc-toolbar-title {
        margin-top: 50px !important;
    }
    .runProcess-body-header, .datalist-body-content > .h1, .datalist-body-content > h1, .datalist-body-content > .h2, .datalist-body-content > h2, .datalist-body-content > .h3, .datalist-body-content > h3 {
        font-size: 2rem !important;
    }
    ul.breadcrumb {
        font-size: 0.9rem;
    }
    body.horizontal_menu {
        padding: 0px !important;
    }
    #navigation {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media(min-width: 768px) {
    body.horizontal_menu #content.page_content {
        padding: 0px;
        margin-top: 15px;
    }
    body.horizontal_menu{
        font-size: 1rem;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 100px;
        background-color: #fff;
    }
    body.horizontal_menu #sidebar {
        width: auto;
        height: auto;
    }
    body.horizontal_menu header.navbar .container-fluid {
        padding: 44px 10px 6px 20px;
    }
    body.horizontal_menu header.navbar, body.horizontal_menu #sidebar .nav{
        background-color: #fff;
    }
    body.horizontal_menu #header-name .logo {
        height: 65px;
    }
    body.horizontal_menu header.navbar .user-link a {
        font-size: 1rem;
    }
    body.horizontal_menu #sidebar #navigation {
        margin-top: 74px;
    }
    body.horizontal_menu #sidebar .nav{
        border-bottom: 0px;
    }
    body.horizontal_menu #sidebar .nav > li > a {
        font-weight: 500;
        margin-right: 1rem;
    }
    body.horizontal_menu #header-link{
        font-size: 2rem;
        padding-top: 10px;
    }
    body.horizontal_menu .viewForm-body-content, body.horizontal_menu .form-container{
        padding: 0px;
    }
    body.horizontal_menu footer{
        background-color: #fff;
    }
    body.horizontal_menu #sidebar .active > a, body.horizontal_menu #sidebar .nav > li > ul > li > a:hover {
        background: #fff !important;
    }
    body.horizontal_menu #content .grid-stack-item .grid-stack-item-content{
        border: 1px solid #f0f0f0;
    }
    body.horizontal_menu #sidebar .nav > li:not(.active) > a:hover, body.horizontal_menu #sidebar .nav > li > ul > li > a:hover, body.horizontal_menu #sidebar .nav > li > ul > li.active > a {
        font-weight: 500 !important;
    }   
    body.horizontal_menu .card.InformationTileComponent {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 3rem !important;
    }
    body.horizontal_menu #content .grid-stack-item .grid-stack-item-content {
        margin-right: 0;
        margin-left: 0;
    }
    body.horizontal_menu #sidebar .active .badge{
        background-color: var(--theme-sidebar-active-link, var(--theme-color3 ,#313435));
    }
    body.horizontal_menu.dark-mode {
        background-color: var(--theme-background) !important;
    }
    body.horizontal_menu.dark-mode header.navbar, body.horizontal_menu.dark-mode #sidebar .nav {
        background-color: var(--theme-sidebar);
    }
    body.horizontal_menu.dark-mode footer {
        background-color: var(--theme-background) !important;
    }
    body.horizontal_menu.dark-mode #sidebar .active > a, body.horizontal_menu.dark-mode #sidebar .nav > li > ul > li > a:hover {
        background: var(--theme-sidebar-active-link-bg) !important;
    }
    body.horizontal_menu.dark-mode #content.page_content {
        background-color: transparent;
    }
    body.horizontal_menu.dark-mode #content .main-body-content {
        background-color: var(--theme-background, #ffffffcc);
    }
}

@media(min-width: 1279px) {
    body.horizontal_menu ul.breadcrumb {
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        background-color: #ccc;
        padding: 72px;
        min-height: 300px;
        border-radius: 15px;
        align-items: center;
        display: flex;
        justify-content: center;
        background-image: url("../org.joget.marketplace.TRDATheme/banner.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: #344b61!important;
        margin-bottom: 3rem;
        margin-top: 1.5rem;
    }
    body.horizontal_menu .breadcrumb li:nth-last-child(1){
        width: 100%;
        font-size: 2.25rem!important;
    }
     body.horizontal_menu ul.breadcrumb a{
        color: #fff;
    }
}

@media(max-width: 1279px){
    .card.InformationTileComponent {
        margin-right: 0;
        margin-left: 0;
    }
    .form-cell {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .card.InformationTileComponent {
        margin-bottom: 0rem !important;
    }
    .runProcess-body-content {
        padding: 0px !important;
    }
    .form-section-title {
        padding: 1rem 1rem;
        margin-bottom: 2.5rem;
    }
    body.horizontal_menu {
        padding: 0 20px;
    }
}

body.dark-mode {
    --theme-header: #151521;
    --theme-sidebar: #151521;
    --theme-sidebar-link-bg: #151521;
    --theme-footer-bg: #151521;
    --theme-sidebar-active-link-bg: #1e1e2d;
}
body.dark-mode footer {
    border-top: 0px !important;
}
body.dark-mode header.navbar {
    border-bottom: 0px;
}
body:not(.horizontal_menu).dark-mode #sidebar {
    border-right: 0px;
}
body.dark-mode .mm-profile {
    border-top: 0px !important;
    border-bottom: 0px !important;
}
body.dark-mode .dataList tr.even {
    background-color: rgba(0,0,0,.05);
}
body.dark-mode .subform-section-title {
    border-bottom: 0px solid;
}
body.dark-mode input[type=checkbox], body.dark-mode input[type=radio]{
    visibility: hidden;
}
body.dark-mode input[type=checkbox]:before,
body.dark-mode input[type=radio]:before {
    content: "";
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    top: -0.1rem;
    left: 0;
    border: 1px solid rgba(27,29,33,0.32);
    background-color: #ced4da;
    padding: 1px;
    visibility: visible;
    border-radius: .28rem;
    position: relative;
}
body.dark-mode input[type=checkbox]:checked::before{
    background-color: var(--theme-button-bg, #0d6efd);
    border-color: var(--theme-button-bg, #0d6efd);
}
body.dark-mode input[type=radio]:checked::before {
    background-color: #151521;
    border-color: var(--theme-button-bg, #0d6efd);
}
body.dark-mode input[type=checkbox]:checked::after,
body.dark-mode input[type=radio]:checked::after {
    content: "";
    display: block;
    width: 0.4rem;
    height: 0.7rem;
    border: solid #fff;
    border-width: 0 0.125rem 0.125rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    top: -1.1rem;
    left: 0.4rem;
    visibility: visible;
}
body.dark-mode input[type=radio]:before {
    border-radius: 45%;
}
body.dark-mode input[type=radio]:checked::after {
    width: 0.75rem;
    height: 0.75rem;
    border: 0.375rem solid var(--theme-button-bg, #0d6efd);
    top: -1.1rem;
    left: 0.25rem;
    border-radius: 55%;
    background-color: var(--theme-button-bg, #0d6efd);
}
body.dark-mode .dataList span.pagelinks a {
    border: 0px solid !important;
    background-color: transparent;
    color: var(--theme-sidebar-badge-text);
}